:root{
  --navbar-height: 70px;
}


.m_container{
  height: 100vh;
}

#app{
  width: 100%;
  height: 100%;
}

#app :is(ul, li, menu){
  list-style: none;
  margin: 0;
  padding: 0;
}

#app a{
  color: currentColor;
  text-decoration: underline;
}

.m_app_body{
  width: 100%;
  height: calc(100% - var(--navbar-height));
}

.debug .m_navbar, .debug aside, .debug .m_main{
  border: 1px solid black;
}

.debug aside{
  height: 100%;
}



/* LAYOUT */

.m_navbar{
  height: 70px;
}

.m_app_body a{
  color: currentColor;
  text-decoration: none;
}

.m_app_body aside{
  min-width: 70px;
  background-color: #041E34;
  background-image: url(./img/sidebar-bg.png);
  background-repeat: no-repeat;
}

.m_app_body aside ul{
  display: contents;
  list-style: none;
}

.m_app_body aside ul span{
  display: contents;
  list-style: none;
  margin-left: 1rem;
  display: none;
}

.m_app_body aside ul i{
  width: 20px;
}

.m_app_body nav{
  display: contents;
}

@media screen and (min-width: 992px) {
  .m_app_body aside{
    min-width: 150px;
  }

  .m_app_body aside ul li span{
    display: inline-block;
  }
}